<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.de"/>
<!--    first lesson - create beans in .xml-file-->
<!--    <context:property-placeholder location="musicPlayer.properties"/>-->
<!--    <bean id="musicBean1"-->
<!--          class="org.de.RockMusic">-->
<!--    </bean>-->
<!--    <bean id="classicalMusic"-->
<!--          class="org.de.ClassicalMusic"-->
<!--          init-method="doMyInit"-->
<!--          destroy-method="doMyDestroy"-->
<!--          factory-method="getClassicalMusic"-->
<!--    >-->
<!--    </bean>-->
    <!--    <bean id="musicPlayer"-->
    <!--          class="org.de.MusicPlayer"-->
    <!--    scope="prototype">-->
    <!--        <property name="musicList">-->
    <!--            <list>-->
    <!--                <ref bean="musicBean1"/>-->
    <!--                <ref bean="musicBean2"/>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--        <property name="name" value="Some name"/>-->
    <!--        <property name="volume" value="50"/>-->
    <!--    </bean>-->

</beans>
